<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Single Sign On Tutorial</title>
</head>

<body>
    <div style="max-width: 90%;margin-right:auto; margin-left: auto; margin-top: 30px;">
        <div style="display: flex;flex-direction: column;">
            <div">
                <span>Single Sign On Tutorial</span>
        </div>
        <hr style="width:50%;text-align:left;margin-left:0" />

        <div>
            Hello {{username}},
            We're received a request to reset the password for the Single Sign On Tutorial account associated
            with <b>{{email}}</b>.
            <div class="add-space" style="padding: 10px 0;"></div>
            No changes have been made to your account yet.
            <div class="add-space" style="padding: 10px 0;"></div>
            You can reset you password by using the following OTP: <b>{{OTPCode}}</b>
            <div class="add-space" style="padding: 10px 0;"></div>
            if you did not request a new password, please let us know immediately by replying to this email.
            <div class="add-space" style="padding: 10px 0;"></div>
            --- SSO Tutorial Team ---
        </div>
    </div>
    </div>

</body>

</html>