<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- JQuery -->
    <script src="
     https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
     "></script>

    <title>Single Sign On Tutorial</title>
</head>

<body>
    <div class="forgot-password-form container mt-3">
        <div class="row">
            <div class="mb-3 col-9">
                <label for="email">Email: </label>
                <input type="text" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3 col-3">
                <label class="intentionalLabelForUI"></label>
                <div></div>
                <button id="sendOTPCodeBtn" class="btn btn-success w-100">Send CODE</button>
            </div>
            <div class="mb-3">
                <label for="OTPCode">Enter CODE: </label>
                <input type="text" class="form-control" id="OTPCode" name="OTPCode" />
            </div>
            <div class="mb-3">
                <label for="new_password">New password: </label>
                <input type="password" class="form-control" id="new_password" name="new_password" />
            </div>
            <div class="mb-3">
                <label for="retype_password">Retype password: </label>
                <input type="password" class="form-control" id="retype_password" name="retype_password" />
            </div>

            <button id="resetPasswordSubmitBtn" type="button" class="mt-2 mx-auto btn btn-primary w-50">Confirm</button>
        </div>
    </div>
</body>

<script>
    $(document).ready(() => {



        $('#sendOTPCodeBtn').on('click', () => {
            const email = $('#email').val();
            if (!email) {
                return alert('Please enter your email address!')
            }
            $.ajax({
                type: 'POST',
                url: `${window.location.origin}/send-code`,
                data: { email },
                withCredentials: true,
                success: (data) => {
                    const status = data?.data ?? false;
                    if (status === true) {
                        alert("Sending email successfully, please check your email to get OTP code !")
                    } else {
                        alert("Something went wrong sending email, please try again ...");
                    }
                },
                error: (request, status, error) => {
                    const response = request?.responseJSON;
                    alert(response?.errMsg ?? "Something went wrong sending email, please try again ...");
                }
            })
        });

        $('#resetPasswordSubmitBtn').on('click', () => {
            const email = $('#email').val();
            const OTPCode = $('#OTPCode').val();
            const new_password = $('#new_password').val();
            const retype_password = $('#retype_password').val();

            if (new_password !== retype_password) {
                return window.alert("Retype password is not match!")
            }

            $.ajax({
                type: 'POST',
                url: `${window.location.origin}/reset-password`,
                data: {
                    OTPCode, email, new_password
                },
                withCredentials: true,
                success: (data) => {
                    if (data && +data?.errCode === 0 && data?.data) {
                        window.alert(data?.errMsg ?? "Reset password successfully !")
                    } else {
                        console.log(error)
                        window.alert(data?.errMsg ?? "Something went wrong resetting password, please try again!");
                    }

                    window.location.replace('/login')
                },
                error: (request, status, error) => {
                    const response = request?.responseJSON;
                    window.alert(response?.errMsg ?? "Something went wrong resetting password, please try again!");
                }
            })
        })
    })
</script>

</html>